/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */
body{
	background:#E4E4E4;
}
#wrap{
	width:960px;
	margin:0 auto;
	background:#FFFFFF;
}


/* HEADER SPECIFIC ======================================== */
header{
	background:url(../images/header_img.jpg) no-repeat center;
	height:150px;
	margin:0 auto;
	width:960px;
}
header h1{
	text-indent:-9999px;
}
/* ABOUT SPECIFIC ======================================== */
.purp{
	color:#561a89;
}
h2{
	font-size:28px;
	padding:15px 0 15px 15px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#363636;
}
about_img{
	float:left;
	margin:0 0 0 15px;
	padding:0 15px 15px 15px;
	position:relative;
}
.about_p{
	float:right;
	padding:15px 15px 15px 0;
	width:610px;
	text-align:justify;
	position:relative;
	line-height:18px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#363636;
	text-indent:15px;
}

/* COMPONENTS SPECIFIC ======================================== */
h3{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:24px;
	padding:12.5px 0 0 0;
	margin-top:30px;
	text-align:center;
	background:#F2F2F2;
	height:50px;
}
h4{
	font-size:20px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	padding:10px;
	color:#363636;
}
p{
	padding:5px 30px 20px 30px;
	line-height:20px;
	font-size:16px;
	font-weight:light;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#363636;
}
button{
	padding:0 0 0 15px;
	margin-left:15px;
}