<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<footer>
		<article>
        	<h2>Contact Us</h2>
            	<hr />
            		<p>Freephone: +1 800 559 6580</p>
                    <p>Telephone: +1 959 603 6035</p>
                    <p>FAX: +1 800 559 6580</p>
                    <br />
                    <a href="" title=""><p>Email:mail@gmail.com</p></a>
        </article>
        <article>
        	<h2>Locations</h2>
            	<hr />
            		<p>8901 Marmora Road</p>
                    <p>Glesgow, D04, 89CAL</p>
                    <p></p>
                    <br />
                    <a href="" title=""><p>Email:mail@gmail.com</p></a>
        </article>
        <article>
        	<h2>Tags</h2>
            	<hr />
            		<p id="tag">Company</p>
                    <p id="tag">Design</p>
                    <p id="tag">Exterior</p>
                    <p id="tag">House</p>
                    <p id="tag">Luxury</p>
                    <p id="tag">Real Estate</p>
                    <p id="tag">Residental</p>
        </article>
        <article>
        	<a href="" title=""><img src="" alt=""></a>
            <a href="" title=""><img src="" alt=""></a>
            <a href="" title=""><img src="" alt=""></a>
            <a href="" title=""><img src="" alt=""></a>
        </article>
        
        <a href="" title=""><img src="" alt=""></a>
        <p>Exterior Design &copy; 2015 + Privacy Policy</p>
        
	</footer>
	<!-- End Component -->
	
</body>
</html>