<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Chris Fortin</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
    	<div class="lefty">
		<h1>Welcome to our Website</h1>
        	<h2>Ceonsequat Vamet, Conserctetuer Adiprscing</h2>
        </div>
            	<p>Praesent pulvinar urna eget nulla tempor pellentesque. Nunc dui dui, aliquet ut laoreet eleifend, interdum eget lectus. Sed aliquam elementum metus non pharetra. elementum metus non pharetra. Sed a iaculis lectus.Sed a iaculis lectus. Cras urna lacus.</p>
                <p>Fusce at pharetra elit. Maecenas vitae est nisl. In hac habitasse platea dictumst. Nunc et dictum nisi. Phasellus placerat tempus diam. Proin vulputate, nulla sit amet finibus tincidunt, orci libero malesuada leo, ut tincidunt lorem urna ut dui. elementum metus non pharetra. Sed a iaculis lectus.</p>
	</section>
	<!-- End Component -->
	
</body>
</html>