/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

body{
	background-color:#f0f0f0;
}
section{
	width:960px;
	margin:0 auto;
	padding-top:30px;
}

h2{
	font-size:36px;
	display:block;
	font-family:sans-serif;
	text-align:center;
}
h2::after{
	content:"";
	display:block;
	border-bottom:solid 3px #D22D30;
	width:75px;
	height:10px;
	margin:0 auto;
}
section >p{
	text-align:center;
	margin:0 auto;
	width:600px;
	margin-top:10px;
}
article{
	width:calc(25% - 40px);
	float:left;
	margin:30px 20px;
	background:#fff;
}
article img{
	width:100%;
	height:150px;
	background:#956667;
}
h3{
	text-align:center;
	font-family:sans-serif;
	font-size:18px;
	color:#D22D30;
	padding:10px;
}
article > p.lite{
	text-align:center;
	color:#DEDCDC;
	padding:0 10px 10px 10px;
}

/* HEADER ======================================== */