<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<footer>
		<h2>Greenery &copy; 2011| <a href="" title="">Privacy Policy</a>
        	<nav>
            	<ul>
                	<li><a href="" title="">Home</a></li>
                    <li><a href="" title="">About Us</a></li>
                    <li><a href="" title="">Services</a></li>
                    <li><a href="" title="">Partners</a></li>
                    <li><a href="" title="">Contacts</a></li>
                </ul>
            </nav>
            <p>Powered by Site2You  Website Builder</p>
	</footer>
	<!-- End Component -->
	
</body>
</html>