<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Chris Fortin</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
    	<ul>
    		<li><a href="" title="">Tumblr</a></li>
        	<li><a href="" title="">Twitter</a>
        	<li><a href="" title="">Youtube</a>
        	<li><a href="" title="">RSS</a>
        </ul>
        <ul>
			<li><a href="" title=""><p>9870 St Vincent Place, Giasgow, DC 45 Fr 45.</p></a>
            <li><a href="" title=""><p>Contact@demolink.org</p></a>
            <li><a href="" title=""><p>+1 800 559 6580</p></a>
            <li><a href="" title=""><p>Login</p></a>
       	</ul>
            	<img src="" alt="">
                <h1>Ramirezz</h1>
            		<nav>
                    	<ul>
                        	<li><a href="" title="">HOME</a></li>
                            <li><a href="" title="">ABOUT</a></li>
                            <li><a href="" title="">SERVICES</a></li>
                            <li><a href="" title="">PROJECTS</a></li>
                    		<li><a href="" title="">BLOG</a></li>
                            <li><a href="" title="">CONTACTS</a></li>
        			</nav>
	</header>
	<!-- End Component -->
	
</body>
</html>