<!DOCTYPE html>
<html>
<head>
<title>WSP Component: Chris Fortin</title>
<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<!-- Component -->
<header>
  <section id="red">
    <ul id="social">
      <li><a href="Tumblr" title="">Tumblr</a></li>
      <li><a href="Twitter" title="">Twitter</a></li>
      <li><a href="Youtube" title="">Youtube</a></li>
      <li><a href="RSS" title="">RSS</a></li>
    </ul>
    <ul id="info">
      <li><a href="" title="">
        <p>9870 St Vincent Place, Giasgow, DC 45 Fr 45.</p>
        </a></li>
      <li><a href="" title="">
        <p>Contact@demolink.org</p>
        </a></li>
      <li><a href="" title="">
        <p>+1 800 559 6580</p>
        </a></li>
      <li><a href="" title="">
        <p>Login</p>
        </a></li>
    </ul>
  </section>
  <section id="black"> 
    <h1>Ramirezz</h1>
    <nav>
      <ul>
        <li><a id="sure" href="" title="">home</a></li>
        <li><a href="" title="">about</a></li>
        <li><a href="" title="">services</a></li>
        <li><a href="" title="">project</a></li>
        <li><a href="" title="">blog</a></li>
        <li><a href="" title="">contacts</a></li>
      </ul>
    </nav>
  </section>
</header>
<!-- End Component -->

</body>
</html>