<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section id="cta">
		<h2>Everything You Need</h2>
        <h1>For your perfect skin</h1>
        	<a href="" title=""><button id="shopNow">
            	<p>Shop Now</p>
            </button></a>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
	</section>
	<!-- End Component -->
	
</body>
</html>