<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section id="cta">
		<h2>Everything You Need</h2>
        <h1>For your<br />perfect skin</h1>
        	<a href="" title="">Shop Now!</a>
            <div id="pageNumber">
            	<img src="" alt="">
            	<img src="" alt="">
            	<img src="" alt="">
            </div>
	</section>
	<!-- End Component -->
	
</body>
</html>