<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section id="cta">
		<h2>Unsurpasses quality</h2>
    		<p>Lorem Ipsum dolor sit amet consercturer adiposcing</p>
            <a href="" title=""><img src="" alt=""></a>
            <a href="" title=""><img src="" alt=""></a>
            <a href="" title=""><img src="" alt=""></a>
            	<a href="" title=""><img src="" alt=""></a>
                <img src="" alt="">
                <a href="" title=""><img src="" alt=""></a>
	</section>
	<!-- End Component -->
	
</body>
</html>