<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
    	<ul>
    		<a href="" title="">log in</a>
			<a href="" title="">create an account</a>
            <a href="" title="">check out</a>
       	</ul>
        <aside>
        	<img class="redCircle" src="../../images/redcircle.png" alt="">
       		<a id="cart" href="" title=""><p>Cart: <span>0 item(s)</span> USD<img src="../../images/tri.jpg" alt=""></p></a>
        </aside>
        <section>
        <img class="head" src="../../images/headinglogo.jpg" alt="image of the heading logo">
        
        <img class="contact" src="../../images/headingContact.jpg" alt="image of the contact information">
        </section>
	</header>
	<!-- End Component -->
	
</body>
</html>