<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
    	<ul>
    		<a href="" title="">log in</a>
			<a href="" title="">create an account</a>
            <a href="" title="">CHECK OUT</a>
       	</ul>
       	<a href="" title=""><img src="" alt=""><p>Cart: <span>0 item(s)</span></p></a>
        <a href="" title="">USD <img src="" alt=""></a>
        
        <img src="" alt="">
        <h1>Flooring Store</h1>
        
        <img src="" alt="">
        <p>Call us now tool free:</p>
        <h2>1-800-234-5677</h2>
	</header>
	<!-- End Component -->
	
</body>
</html>