<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Chris Fortin</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h1>Blog</h1>
        	<h4>YouTube Video</h4>
            	<ul>
                	<li><p>admin</p></li>
                    <li><p>April 29, 2014</p></li>
                    <li><p>87 view(s)</p></li>
                    <li><p>2 comment(s)</p>
                </ul>
              		<img src="" alt="">
                    <p>Ut in ornare sem, vitae commodo eros. Phasellus ac turpis ac odio semper facilisis at ac tortor. Proin eu elementum dolor. Proin eu varius purus, sed condimentum est. Donec nec aliquet tellus. Nunc scelerisque neque sed mauris vulputate blandit. Duis quis felis non sem egestas dictum et eu lacus. Sed sollicitudin a urna in semper. Sed sed velit pretium, finibus ipsum eu, luctus urna.</p>
                    	<ol>
                        	<li><a href="" title=""><button>Read More</button></a></li>
                            <li><a href="" title=""><button>Admin's Blog</button></a></li>
                            <li><a href="" title=""><button>2 Comments</button></a></li>
                            <li><a href="" title=""><button>Log In</button></a><p>to post comments</p></li>
                        </ol>
                    
	</section>
	<!-- End Component -->
	
</body>
</html>