<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
	<h1>Hello there!</h1>
		<hr/>
    		<img src="" alt="">
        <p><strong>Ut in ornare sem, vitae commodo eros.</strong></p>
        <p>Phasellus ac turpis ac odio semper facilisis at ac tortor. Proin eu elementum dolor. Proin eu varius purus, sed condimentum est. Donec nec aliquet tellus. Nunc scelerisque neque sed mauris vulputate blandit.</p>
        <p>Pellentesque fringilla nisl in justo aliquet aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam arcu erat, tincidunt vitae semper vel, maximus non ligula. Fusce non ligula faucibus, feugiat eros ut, sodales erat. Curabitur nec lacus sed risus sodales aliquam.</p>
		<a href="" title=""><button>Read More</button></a>
    
    <h1>About Us</h1>
		<hr/>
    		<img src="" alt="">
        <p><strong>Quisque aliquam diam non tempor fringilla.</strong></p>
        <p>Donec ut odio in risus egestas pharetra et sit amet massa. Ut porttitor venenatis ex at hendrerit. Donec pellentesque lectus non diam tristique venenatis. </p>
        <p>Fusce in lorem lacinia, accumsan justo quis, venenatis diam. Pellentesque nec placerat ligula. Aliquam non nulla pellentesque, laoreet eros sed, placerat purus. Maecenas id libero ac mi maximus pretium ac nec dui. Donec ac lorem metus. In vel eros vel nulla pretium ullamcorper eu in mi.</p>
		<a href="" title=""><button>Read More</button></a>
        
        <a href="" title=""><img src="" alt=""></a>
   	</section>
	<!-- End Component -->
	
</body>
</html>