<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Chris Fortin</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<nav>
        	<ul>
        		<li><a href="" title=""><h3>Vector</h3></a></li>
        		<li><a href="" title=""><h3>Video</h3></a></li>
        		<li><a href="" title=""><h3>Photo</h3></a></li>
        		<li><a href="" title=""><h3>Web Design</h3></a></li>
        	</ul>
        	<section id="images">
            	<img src="../../images/TabImage.jpg" alt="Image of a round circle with a decoration in the middle">    
           	</section>
                	<h4>Creating something special for you</h4>
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie bibendum lacus, sed ultricies diam convallis vitae. Cras tincidunt orci at magna posuere blandit. Morbi eget efficitur nisi, eu efficitur velit.</p>
    	
        
	</section>
	<!-- End Component -->
	
</body>
</html>