<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<article>
        	<a href="" title=""><h3>Vector</h3></a>
            	<img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                	<h4>Creating something special for you</h4>
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie bibendum lacus, sed ultricies diam convallis vitae. Cras tincidunt orci at magna posuere blandit. Morbi eget efficitur nisi, eu efficitur velit. Sed gravida orci ut turpis sodales, sit amet vulputate libero iaculis.</p>
    	</article>
        <article>
        	<a href="" title=""><h3>Video</h3></a>
        </article>
        <article>
        	<a href="" title=""><h3>Photo</h3></a>
        </article>
        <article>
        	<a href="" title=""><h3>Web Design</h3></a>
        </article>
	</section>
	<!-- End Component -->
	
</body>
</html>