<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Chris Fortin</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<p><strong>Contacts</strong></p>
        	<img src="../../images/Mapy.png" alt="image of a map from google maps">
            
            <article>
            	<p><strong>Address:</strong></p>
                	<ul>
                		<li class="iconHome">138 Atlantic ln</li>
                        <li class="noIcon">Kingsport</li>
                        <li class="noIcon">Illinois 121164</li>
                	</ul>
         	</article>
            
            <article>
            	<p><strong>Phones:</strong></p>
                	<ul>
                		<li class="phoneIcon">+1 800 559 6580</li>
                        <li class="faxIcon">+1 504 889 9898</li>
                	</ul>
         	</article>
            
            <article>
            	<p><strong>E-mail:</strong></p>
                	<ul>
                    	<li class="mailIcon"><a href="" title="">mail@demolink.org</a></li>
                        <h6>Download information as: <a href="" title="">vCard</a></h6>
            </article>
            
            <article>
            	<p><strong>Miscellaneous Information:</strong></p>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie bibendum lacus, sed ultricies diam convallis vitae. Cras tincidunt orci at magna posuere blandit. Morbi eget efficitur nisi, eu efficitur velit. Sed gravida orci ut turpis sodales, sit amet vulputate libero iaculis.</p>                       
            </article>
            
            <article>
            	<p class="lite"><em>Send an email. All fields with and * are required</em></p>
                	<form>
                    	<p>Name*</p>
                        	<input name="name" type="text">
                        <p>Email*</p>
                        	<input name="email" type="text">
                        <p>Subject*</p>
                        	<input name="subject" type="text">
                       	<p>Message*</p>
                        	<input name="message" type="text">
                        <p>Send a copy to yourself</p>
                        	<input type="checkbox">
                        <button type="submit">Send Email</button>
                	</form>
            </article>
	</section>
	<!-- End Component -->
	
</body>
</html>