<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
    	<article>
		<h1>Welcome to Our Website!</h1>
    		<h2>typi non habent claritatem instam</h2>
        		<p>Curabitur interdum odio vitae leo ornare scelerisque in hendrerit nisi. Integer placerat dui quam, vitae tempor nibh congue ut. Donec enim metus, suscipit et pulvinar vitae, dignissim id nibh. Pellentesque vehicula tortor augue, a accumsan ipsum fermentum eget.</p>
            	<p>Quisque nec feugiat est, malesuada suscipit urna. Proin dignissim consectetur enim, a viverra lacus maximus nec.</p>
    	<a href="" title="">Read more >></a>
		</article>
        
        <article>
		<h1>Latest News</h1>
    		<img src="" alt="">
            <h2>Cloritatem Instam Lorem</h2>
            	<p> Fusce non ligula faucibus, feugiat eros ut, sodales erat.<a href="" title="">>></a></p>
            <img src="" alt="">
            <h2>Cloritatem Instam Lorem</h2>
            	<p> Fusce non ligula faucibus, feugiat eros ut, sodales erat.<a href="" title="">>></a></p>
    	<a href="" title="">Read more >></a>
		</article>
        
        <article>
        <h1>Recent Posts</h1>
        	<ul>
            	<li><a href="" title="">link</a></li>
                <li><a href="" title="">link</a></li>
                <li><a href="" title="">link</a></li>
                <li><a href="" title="">link</a></li>
                <li><a href="" title="">link</a></li>
                <li><a href="" title="">link</a></li>
                <li><a href="" title="">link</a></li>
            </ul>
	</section>
	<!-- End Component -->
	
</body>
</html>